In [63]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [64]:

import pandas as pd
path="/content/drive/MyDrive/dataset/bank_clients.csv"
df = pd.read_csv(path)
df.describe

<bound method NDFrame.describe of       RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]>

In [65]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [67]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
df['Gender']= label_encoder.fit_transform(df['Gender'])
df['Gender'].unique()
y=df['Gender']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  int64
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(10), object(2)
memory usage: 1.1+ MB

In [68]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [69]:
label_encoder = preprocessing.LabelEncoder() 
df['Surname']= label_encoder.fit_transform(df['Surname'])
df['Surname'].unique()
y=df['Surname']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  int64
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  int64
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(11), object(1)
memory usage: 1.1+ MB

In [70]:
label_encoder = preprocessing.LabelEncoder() 
df['Geography']= label_encoder.fit_transform(df['Geography'])
df['Geography'].unique()
y=df['Geography']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  int64
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  int64
 5   Gender           10000 non-null  int64
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 1.1 MB

In [71]:
df.head(15)

    RowNumber  CustomerId  Surname  ...  IsActiveMember  EstimatedSalary  Exited
0           1    15634602     1115  ...               1        101348.88       1
1           2    15647311     1177  ...               1        112542.58       0
2           3    15619304     2040  ...               0        113931.57       1
3           4    15701354      289  ...               0         93826.63       0
4           5    15737888     1822  ...               1         79084.10       0
5           6    15574012      537  ...               0        149756.71       1
6           7    15592531      177  ...               1         10062.80       0
7           8    15656148     2000  ...               0        119346.88       1
8           9    15792365     1146  ...               1         74940.50       0
9          10    15592389     1081  ...               1         71725.73       0
10         11    15767821      195  ...               0         80181.12       0
11         12    15737173       83  ...               0         76390.01       0
12         13    15632264     1369  ...               0         26260.98       0
13         14    15691483      515  ...               0        190857.79       0
14         15    15600882     2389  ...               1         65951.65       0

[15 rows x 14 columns]

In [72]:
X=df.iloc[:,:13]
print(X)
y=df.iloc[:,13:]
print(y)

      RowNumber  CustomerId  ...  IsActiveMember  EstimatedSalary
0             1    15634602  ...               1        101348.88
1             2    15647311  ...               1        112542.58
2             3    15619304  ...               0        113931.57
3             4    15701354  ...               0         93826.63
4             5    15737888  ...               1         79084.10
...         ...         ...  ...             ...              ...
9995       9996    15606229  ...               0         96270.64
9996       9997    15569892  ...               1        101699.77
9997       9998    15584532  ...               1         42085.58
9998       9999    15682355  ...               0         92888.52
9999      10000    15628319  ...               0         38190.78

[10000 rows x 13 columns]
      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [73]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)

In [74]:
df= df.drop('Surname',axis=1)
df.head()

   RowNumber  CustomerId  CreditScore  ...  IsActiveMember  EstimatedSalary  Exited
0          1    15634602          619  ...               1        101348.88       1
1          2    15647311          608  ...               1        112542.58       0
2          3    15619304          502  ...               0        113931.57       1
3          4    15701354          699  ...               0         93826.63       0
4          5    15737888          850  ...               1         79084.10       0

[5 rows x 13 columns]

In [75]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
y=ohe.fit_transform(y).toarray()

In [76]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=60) # 75% training and 25% test
print(len(X_train),"train +",len(y_test),"test")

7500 train + 2500 test

In [77]:
import tensorflow.python.keras
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
model= Sequential()
model.add(Dense (10,input_dim=13,activation='sigmoid'))
model.add(Dense (15,activation='sigmoid'))
model.add(Dense(2,activation='sigmoid'))

In [78]:
model.compile(loss='mean_squared_error',optimizer='adam',metrics=['accuracy'])

In [79]:
history=model.fit(X_train,y_train,epochs=200,batch_size=64)

Epoch 1/200
118/118 [==============================] - 1s 1ms/step - loss: 0.1732 - accuracy: 0.7971
Epoch 2/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1584 - accuracy: 0.7971
Epoch 3/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1556 - accuracy: 0.7971
Epoch 4/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1524 - accuracy: 0.7971
Epoch 5/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1493 - accuracy: 0.7971
Epoch 6/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1461 - accuracy: 0.7971
Epoch 7/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1436 - accuracy: 0.7971
Epoch 8/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1417 - accuracy: 0.7971
Epoch 9/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1404 - accuracy: 0.8001
Epoch 10/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1396 - accuracy: 0.8015
Epoch 11/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1389 - accuracy: 0.8028
Epoch 12/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1383 - accuracy: 0.8037
Epoch 13/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1378 - accuracy: 0.8076
Epoch 14/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1372 - accuracy: 0.8091
Epoch 15/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1367 - accuracy: 0.8111
Epoch 16/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1361 - accuracy: 0.8129
Epoch 17/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1353 - accuracy: 0.8171
Epoch 18/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1347 - accuracy: 0.8179
Epoch 19/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1340 - accuracy: 0.8203
Epoch 20/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1334 - accuracy: 0.8236
Epoch 21/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1327 - accuracy: 0.8249
Epoch 22/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1321 - accuracy: 0.8271
Epoch 23/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1317 - accuracy: 0.8271
Epoch 24/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1312 - accuracy: 0.8292
Epoch 25/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1308 - accuracy: 0.8300
Epoch 26/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1303 - accuracy: 0.8305
Epoch 27/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1300 - accuracy: 0.8304
Epoch 28/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1296 - accuracy: 0.8313
Epoch 29/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1293 - accuracy: 0.8313
Epoch 30/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1290 - accuracy: 0.8316
Epoch 31/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1288 - accuracy: 0.8311
Epoch 32/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1285 - accuracy: 0.8316
Epoch 33/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1282 - accuracy: 0.8331
Epoch 34/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1281 - accuracy: 0.8317
Epoch 35/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1279 - accuracy: 0.8317
Epoch 36/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1277 - accuracy: 0.8320
Epoch 37/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1274 - accuracy: 0.8324
Epoch 38/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1273 - accuracy: 0.8335
Epoch 39/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1272 - accuracy: 0.8323
Epoch 40/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1270 - accuracy: 0.8333
Epoch 41/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1268 - accuracy: 0.8337
Epoch 42/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1267 - accuracy: 0.8336
Epoch 43/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1265 - accuracy: 0.8340
Epoch 44/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1263 - accuracy: 0.8340
Epoch 45/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1262 - accuracy: 0.8333
Epoch 46/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1260 - accuracy: 0.8339
Epoch 47/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1260 - accuracy: 0.8337
Epoch 48/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1258 - accuracy: 0.8347
Epoch 49/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1256 - accuracy: 0.8343
Epoch 50/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1254 - accuracy: 0.8340
Epoch 51/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1253 - accuracy: 0.8365
Epoch 52/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1251 - accuracy: 0.8353
Epoch 53/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1249 - accuracy: 0.8367
Epoch 54/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1247 - accuracy: 0.8371
Epoch 55/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1245 - accuracy: 0.8379
Epoch 56/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1243 - accuracy: 0.8364
Epoch 57/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1241 - accuracy: 0.8379
Epoch 58/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1240 - accuracy: 0.8379
Epoch 59/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1238 - accuracy: 0.8375
Epoch 60/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1235 - accuracy: 0.8384
Epoch 61/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1232 - accuracy: 0.8383
Epoch 62/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1229 - accuracy: 0.8389
Epoch 63/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1226 - accuracy: 0.8393
Epoch 64/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1224 - accuracy: 0.8404
Epoch 65/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1220 - accuracy: 0.8413
Epoch 66/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1216 - accuracy: 0.8428
Epoch 67/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1213 - accuracy: 0.8427
Epoch 68/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1209 - accuracy: 0.8421
Epoch 69/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1204 - accuracy: 0.8443
Epoch 70/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1201 - accuracy: 0.8452
Epoch 71/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1194 - accuracy: 0.8455
Epoch 72/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1191 - accuracy: 0.8473
Epoch 73/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1185 - accuracy: 0.8477
Epoch 74/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1179 - accuracy: 0.8489
Epoch 75/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1173 - accuracy: 0.8501
Epoch 76/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1168 - accuracy: 0.8499
Epoch 77/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1162 - accuracy: 0.8513
Epoch 78/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1156 - accuracy: 0.8527
Epoch 79/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1150 - accuracy: 0.8525
Epoch 80/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1144 - accuracy: 0.8541
Epoch 81/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1138 - accuracy: 0.8552
Epoch 82/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1132 - accuracy: 0.8551
Epoch 83/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1128 - accuracy: 0.8556
Epoch 84/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1124 - accuracy: 0.8552
Epoch 85/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1118 - accuracy: 0.8563
Epoch 86/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.8573
Epoch 87/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1108 - accuracy: 0.8569
Epoch 88/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1105 - accuracy: 0.8569
Epoch 89/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1100 - accuracy: 0.8567
Epoch 90/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1096 - accuracy: 0.8588
Epoch 91/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1092 - accuracy: 0.8592
Epoch 92/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.8593
Epoch 93/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1087 - accuracy: 0.8592
Epoch 94/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.8609
Epoch 95/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.8601
Epoch 96/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1077 - accuracy: 0.8609
Epoch 97/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1075 - accuracy: 0.8603
Epoch 98/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1074 - accuracy: 0.8621
Epoch 99/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1069 - accuracy: 0.8601
Epoch 100/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1068 - accuracy: 0.8615
Epoch 101/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1066 - accuracy: 0.8625
Epoch 102/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1064 - accuracy: 0.8625
Epoch 103/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1062 - accuracy: 0.8619
Epoch 104/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1060 - accuracy: 0.8620
Epoch 105/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1058 - accuracy: 0.8624
Epoch 106/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1056 - accuracy: 0.8629
Epoch 107/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1054 - accuracy: 0.8625
Epoch 108/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1053 - accuracy: 0.8627
Epoch 109/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1052 - accuracy: 0.8621
Epoch 110/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1050 - accuracy: 0.8636
Epoch 111/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1048 - accuracy: 0.8635
Epoch 112/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1046 - accuracy: 0.8632
Epoch 113/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1045 - accuracy: 0.8636
Epoch 114/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1043 - accuracy: 0.8635
Epoch 115/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1043 - accuracy: 0.8635
Epoch 116/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1040 - accuracy: 0.8645
Epoch 117/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1040 - accuracy: 0.8655
Epoch 118/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1039 - accuracy: 0.8657
Epoch 119/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1037 - accuracy: 0.8644
Epoch 120/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1037 - accuracy: 0.8649
Epoch 121/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1034 - accuracy: 0.8647
Epoch 122/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1033 - accuracy: 0.8665
Epoch 123/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1033 - accuracy: 0.8648
Epoch 124/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1031 - accuracy: 0.8659
Epoch 125/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1033 - accuracy: 0.8663
Epoch 126/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1031 - accuracy: 0.8635
Epoch 127/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1029 - accuracy: 0.8659
Epoch 128/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1029 - accuracy: 0.8657
Epoch 129/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1027 - accuracy: 0.8660
Epoch 130/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1026 - accuracy: 0.8659
Epoch 131/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1026 - accuracy: 0.8643
Epoch 132/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1025 - accuracy: 0.8671
Epoch 133/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1024 - accuracy: 0.8652
Epoch 134/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1024 - accuracy: 0.8653
Epoch 135/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1022 - accuracy: 0.8663
Epoch 136/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1023 - accuracy: 0.8652
Epoch 137/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1021 - accuracy: 0.8661
Epoch 138/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1021 - accuracy: 0.8668
Epoch 139/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1020 - accuracy: 0.8665
Epoch 140/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1020 - accuracy: 0.8676
Epoch 141/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1019 - accuracy: 0.8653
Epoch 142/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1018 - accuracy: 0.8661
Epoch 143/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1016 - accuracy: 0.8673
Epoch 144/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1018 - accuracy: 0.8664
Epoch 145/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1017 - accuracy: 0.8663
Epoch 146/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1017 - accuracy: 0.8672
Epoch 147/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1015 - accuracy: 0.8656
Epoch 148/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1015 - accuracy: 0.8671
Epoch 149/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1015 - accuracy: 0.8671
Epoch 150/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1014 - accuracy: 0.8655
Epoch 151/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1013 - accuracy: 0.8669
Epoch 152/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1013 - accuracy: 0.8673
Epoch 153/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1014 - accuracy: 0.8677
Epoch 154/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1013 - accuracy: 0.8668
Epoch 155/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1012 - accuracy: 0.8680
Epoch 156/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1011 - accuracy: 0.8665
Epoch 157/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1012 - accuracy: 0.8675
Epoch 158/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1010 - accuracy: 0.8669
Epoch 159/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1011 - accuracy: 0.8671
Epoch 160/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1010 - accuracy: 0.8659
Epoch 161/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1010 - accuracy: 0.8672
Epoch 162/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1009 - accuracy: 0.8680
Epoch 163/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1009 - accuracy: 0.8669
Epoch 164/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1010 - accuracy: 0.8664
Epoch 165/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1009 - accuracy: 0.8672
Epoch 166/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1008 - accuracy: 0.8653
Epoch 167/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1008 - accuracy: 0.8676
Epoch 168/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1007 - accuracy: 0.8669
Epoch 169/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1007 - accuracy: 0.8671
Epoch 170/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1007 - accuracy: 0.8685
Epoch 171/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1007 - accuracy: 0.8653
Epoch 172/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1006 - accuracy: 0.8671
Epoch 173/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1006 - accuracy: 0.8679
Epoch 174/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1006 - accuracy: 0.8681
Epoch 175/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1006 - accuracy: 0.8683
Epoch 176/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1005 - accuracy: 0.8676
Epoch 177/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1004 - accuracy: 0.8683
Epoch 178/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1005 - accuracy: 0.8679
Epoch 179/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1005 - accuracy: 0.8663
Epoch 180/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8673
Epoch 181/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1004 - accuracy: 0.8667
Epoch 182/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1004 - accuracy: 0.8667
Epoch 183/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8680
Epoch 184/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1004 - accuracy: 0.8676
Epoch 185/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1004 - accuracy: 0.8665
Epoch 186/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8685
Epoch 187/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1002 - accuracy: 0.8681
Epoch 188/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8691
Epoch 189/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1004 - accuracy: 0.8676
Epoch 190/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8685
Epoch 191/200
118/118 [==============================] - 0s 2ms/step - loss: 0.1001 - accuracy: 0.8673
Epoch 192/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8675
Epoch 193/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.8664
Epoch 194/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1002 - accuracy: 0.8664
Epoch 195/200
118/118 [==============================] - 0s 1ms/step - loss: 0.1002 - accuracy: 0.8663
Epoch 196/200

In [80]:
y_pred=model.predict(X_test)

In [81]:
import numpy as np
pred=list()
for i in range (len(y_pred)):
  pred.append(np.argmax(y_pred[i]))

test=list()
for i in range(len(y_test)):
  test.append(np.argmax(y_test[i]))

In [82]:
from sklearn.metrics import accuracy_score
a=accuracy_score(pred,test)
print('Accuracy is:',a*100)

Accuracy is: 85.88